<!DOCTYPE html>
    <html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Navigation Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body id="Nbody">
          <!--navigation-->  
      <hr class="horizontal">
      <div class="vl"></div>
      <ul class="Nnav">
        <li class="Nli"><a href="http://localhost:4000/post">Home</a></li>
        <li class="Nli"><a href="http://localhost:4000/post/new">Rant</a>
           <% if(typeof user != "undefined") { %>

                <li class="Nli"><a href="http://localhost:4000/user/<%=user.id%>">Profile</a>
            <%} %>
        <li class="Nli"><a href="http://localhost:4000/user">Users</a></li>
        <li class="Nli"><a href="http://localhost:4000/register">Register</a></li>
        <li class="Nli"><a href="http://localhost:4000/login">Login</a></li>
      </ul>
</body>
</html>







