<!DOCTYPE html>
<html lang="en">
 
  <body>
   
    <section>
      <div>
        <h1 class="title">New Post</h1>
      </div>
    </section>
    <main class="container">
      <div>
        <form action="/post" method="POST">
          <div>
            <label for="name"> Name</label>
            <input
              type="text"
              placeholder="Your Name"
              name="name"
              id="name"
            />
          </div>
          <div>
            <label for="username">Username</label>
            <input type="text" placeholder="username" name="username" id="username" />
          </div>
          <div>
            <label for="post">Post</label>
            <input
              class="post"
              type="text"
              placeholder="Rant here/ Max 280 Characters"
              name="post"
              id="post"
            />
          </div>
          <div>
            <label for="created">Date Created</label>
            <input
              class="created"
              type="text"
              placeholder=" 0.0.00"
              name="created"
              id="created"
            />
          </div>
          <div>
            <label for="updated">Updated</label>
            <input
              class="updated"
              type="text"
              placeholder=" 0.0.00"
              name="updated"
              id="updated"
            />
          </div>
          <button class="button is-info">Create Post</button>
        </form>
      </div>
    </main>
  </body>
</html>
