<!DOCTYPE html>
<html lang="en">
  <header class="NPheader">
    <%- include('partials/header.ejs'); %>
  </header>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/styles/main.css"/>
    </head>

  <body id="NPbody">
    <sectio class ="NPsection">
      <nav class="NPnav">
        <%- include('./partials/nav.ejs'); %>
        </nav>
      <div>
        <h1 class="NPNewPost">New Post</h1>
      </div>
    </section>
    <main class="NPcontainer">
      <div>
        <form class="NPform" action="/post" method="POST">
          <div>
            <label for="user-select">User</label>
            <select id="user-select" name="userId">
              <% users.forEach(user => { %>
                <option value="<%= user._id %>"><%= user.username %></option>
              <% }) %>
            </select>
          </div>
        <form action="/post" method="POST">
          <div>
            <input
              class="NPinput"
              type="text"
              placeholder="What happened now?"
              name="post"
              id="NPpost"
            />
          </div>
          <button class="NPbutton">Create Post</button>
        </form>
      </div>
    </main>
  </body>
</html>








