<!DOCTYPE html>
<html lang="en">
 
  <body>
   
    <section>
      <div>
        <h1 class="title">New Post</h1>
      </div>
    </section>
    <main class="container">
      <div>
        <form action="/post" method="POST">
         
          <div>
            <label for="username">Username</label>
            <input type="text" placeholder="username" name="username" id="username" />
          </div>
          <div>
            <label for="post">Post</label>
            <input
              class="post"
              type="text"
              placeholder="Rant here/ Max 280 Characters"
              name="post"
              id="post"
            />
          </div>
          
          <button class="button is-info">Create Post</button>
        </form>
      </div>
    </main>
  </body>
</html>
