<!DOCTYPE html>
<html lang="en">
 
  <body>
   
    <section>
      <div>
        <h1 class="title">New User</h1>
      </div>
    </section>
    <main class="container">
      <div>
        <form action="/products" method="POST">
          <div>
            <label for="name"> Name</label>
            <input
              type="text"
              placeholder="Your Name"
              name="name"
              id="name"
            />
          </div>
          <div>
            <label for="username">Username</label>
            <input type="text" placeholder="username" name="username" id="username" />
          </div>
          <div>
            <label for="email">Email</label>
            <input
              class="email"
              type="text"
              placeholder="your@email.com"
              name="email"
              id="email"
            />
          </div>
          <button class="button is-info">Create User</button>
        </form>
      </div>
    </main>
  </body>
</html>
