<!DOCTYPE html>
<html lang="en">
  <header class="NUheader">
      <img src="https://i.imgur.com/3x5hJ2K.jpg">
    </header>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css"/>
  </head>

  <body class="NUbody">
    <section>
      <div class="NUdiv" id="title">
        <h1>Create Your Account</h1>
      </div>
    </section>
    <main class="NUcontainer">
      <div class="NUdiv" id="NUform">
        <form action="/user" method="POST">
          <div class="NUdiv" id="NUname">
            <input
              class="NUinput"
              type="text"
              placeholder="Name"
              name="name"
              id="name"
            />
          </div>
          <div class="NUdiv" id="NUusername">
            <input 
            class="NUinput"
            type="text" 
            placeholder="Username" 
            name="username" 
            id="username"/>
          </div>
          <div class="NUdiv" id="NUemail">
            <input
              class="NUinput"
              type="text"
              placeholder="your@email.com"
              name="email"
              id="email"
            />
          </div>
          <button class="NUbutton">Create User</button>
        </form>
      </div>
    </main>
  </body>
</html>
