<!DOCTYPE html>
<html lang="en">
    <header class="Uheader">
        <%- include('./partials/header.ejs'); %>
      </header>
   
    <body id="Ubody">  
		<nav class="Unav">
            <%- include('./partials/nav.ejs'); %>
            </nav> 

        <section class="Usection">
            <div class="Udiv">
                <h2 class="Utitle">Users</h2>
            </div>
        

        <main class="Ucontainer">
            <div class="Udiv" id="Uusers">
                <% for( let i = 0; i<users.length; i++){ %>
                    <% const firstUser = users[i] %>
                    <ul>
                    <li><a href="/user/<%=firstUser._id %>"><%= firstUser.username %></a> </li>
                    </ul>
                <% } %> 
            </div>
        </main>
    </section>
	</body>
</html>