<!DOCTYPE html>
<html lang="en">
   
    <body>  
		

        <section>
            <div>
                <h2 class="title">Users</h2>
            </div>
        </section>

        <main class="container">
            <div>
                <% for( let i = 0; i<users.length; i++){ %>
                    <% const firstUser = users[i] %>
                    <ul>
                    <li><a href="/user/<%= firstUser._id %>"><%= firstUser.name %></a> </li>

                    </ul>
                <% } %> 
            </div>
        </main>
    
	</body>
</html>