a {
    text-decoration: none;
}
a:link, a:visited {
    color: #a91b0d;
}
a:hover {
    color: #f01e2c;
}
body {
    /* letter-spacing: 1px; */
}

ul {
    list-style: none;
}
.NUimg {
    height: 100px;
}

.NUimgk {
    border-radius: 50;
}

#NUbody {
    text-align: center;
    font-family: Roboto;
}

#NUtitle {
    font-size: 50px;
}

.NUdiv {
    text-align: center;
    font-size: 40px;
    padding: 15px;
}

.NUinput {
    font-size: 40px;
    border-radius: 15px 15px 15px 15px;
}

.NUinput::placeholder {
    font-size: 28px; 
    display: flex;
    align-items: flex-start;
}

.NUbutton {
    margin: 40px;
    font-size: 20px;
    font-family: Roboto;
    border-radius: 10px 10px 10px 10px;
}

#NPbody {
    text-align: center;

}
.NPNewPost {
    font-size: 50px;
    font-family: Roboto;
}
.NPinput {
    border-radius: 5px 5px 5px 5px;
}
#NPusername {
    font-size: 30px;
    position: relative;
    right: 104px;
}
#NPpost {
    font-size: 50px;
    height: 200px; 
    margin: 10px;
}
.NPbutton {
    font-size: large;
    border-radius: 5px 5px 5px 5px;
    margin: 50px;
}

.Nnav {
    letter-spacing: 1px;
    font-family: Roboto;
    float: left;
    width: 70px;
    font-size: 25px;
    position: relative;
    right: 50px;
    bottom: 75px;
    
}

.Nli {
    display: flex;
    flex-direction: column;
    margin: 90px;
    
}

.PIheader {
    text-align: center;
}

#PIbody {
    font-family: Poppins, sans-serif;
    font-weight: 60px;
}

.vl {
    border-left: 1px solid grey;
    height: 1500px;
    position: absolute;
    left: 250px;
    margin-left: 3px;
    top: 123px;
  }

.PIdiv {
    text-align: center;
    position: relative;
    top: 150px;
}
.PIdivs {
    display: inline-block;
}
#PIusername {

    position: relative;
    top: -50px;
    padding-left: 20px;
}
#PIparagraph {
    position: relative;
    left: 110px;
    top: -80px;
}
.PItitle{
    text-align: center;
    position: relative;
    top: 0px;
}

#PIposts {
    color: black;
    position: relative;
    text-align: left;
    top: 30px;
}

.PIli {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

}

.PIsection {
    width: 500px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

#PIimg {
    border-radius: 50px;
    height: 70px;
    width: 70px;
}

.Uheader {
    text-align: center;
}
.Udiv {
    color: #900603;
}
.Usection {
    text-align: center;
}

