.NUimg {
    height: 100px;
}


.NUbody {
    text-align: center;
}

#NUtitle {
    font-size: 50px;
}

.NUdiv {
    text-align: center;
    padding: 15px;
}

.NUinput {
    font-size: 40px;
    border-radius: 15px 15px 15px 15px;
}

.NUinput::placeholder {
    font-size: 30px; 
    display: flex;
    align-items: flex-start;
}

.NUbutton {
    margin: 40px;
    font-size: 15px;
    border-radius: 15px 15px 15px 15px;
}

#NPbody {
    text-align: center;
}
.NPNewPost {
    font-size: 50px;
}
.NPinput {
    border-radius: 5px 5px 5px 5px;
}
#NPusername {
    font-size: 30px;
    position: relative;
    right: 104px;
}
#NPpost {
    font-size: 50px;
    height: 200px; 
    margin: 10px;
}
.NPbutton {
    font-size: large;
    border-radius: 5px 5px 5px 5px;
    margin: 50px;
}
/* #NPpost {
    font-size: 40px;
    position: relative;
    bottom: 70px;
} */


.PIsection {
    text-align: center;
}

.PIul {
    list-style: none;
}

.Nnav {
    float: left;
    width: 30px;
    font-size: 25px;
}

.Nli {
    display: flex;
    flex-direction: column;
    margin: 90px;
}



